**/*.log
.DS_Store
.ipynb_checkpoints
# Logs
**/*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
*.env
environment.yaml~


